<div>
  <mat-toolbar class="heading-bg d-flex">
    <h1 class="heading">WGS Hiring portal</h1>
    <div class="export-container ">
      <button type="text" [(ngModel)]="exportCSVText" (click)="exportCSV()" >ExportCSV</button>
    </div>
    <div class="input-container ">
      <input type="text" [(ngModel)]="searchText" (ngModelChange)="searchData()" class="type-formcontrol" placeholder="search"> 
      <div class="drop-down-container" [ngStyle]="{'display': searchText.length > 0 ? 'block' : 'none'}">
        <span *ngFor="let items of searchResult">{{items}}</span>
      </div>
    </div>
  </mat-toolbar>
  </div>

    <!--  search bar -->
    
    <!-- <div class="row">
      <input type="text" [(ngModel)]="searchText" (keyup.enter)="searchData()" class="type-formcontrol" placeholder="search">   
    </div> -->
  <!-- Adding candidateName -->

    <!-- <div class="row" >
      <div class="todo">
        <input type="text" [(ngModel)]="name" (keyup.enter)="candidateName()" class="form-control">
      </div>
    </div> -->

<div cdkDropListGroup class="d-flex parent_container mt-3">
  <div class="example-container">
    <h2 class="card-heading">BackLog</h2>

    <div
      cdkDropList
      [cdkDropListData]="backlog"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      
      <div class="example-box" *ngFor="let item of backlog" cdkDrag (click) = "buttonText(item)">{{item.candidateName}}
       
      </div>
      <!-- <mat-card-actions class="btn-container">
        <button mat-button class="tag_1">Tag 1</button>
        <button mat-button class="tag_2">Tag 2</button>
      </mat-card-actions> -->
    </div>
  </div>

  <div>
    <h2 class="card-heading">Initial Screening</h2>

    <div
      cdkDropList
      [cdkDropListData]="initialScreening"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box d-flex" *ngFor="let item of initialScreening" cdkDrag (click) = "buttonText(item)">
        <span>{{item}}</span>
        <!-- <div class="box1">
        <button mat-icon-button color="warn" (click)="deleteTask()"><mat-icon>delete</mat-icon></button>
      </div> -->
    </div>
      <!-- <mat-card-actions class="btn-container">
        <button mat-button class="tag_1">Tag 1</button>
        <button mat-button class="tag_2">Tag 2</button>
      </mat-card-actions> -->
      <!-- <div class="box1">
        <button mat-icon-button color="warn" (click)="deleteTask()"><mat-icon>delete</mat-icon></button>

      </div> -->
    </div>
  </div>

  <div class="example-container">
  <h2 class="card-heading">OnHold</h2>

  <div (click)="dragItem()" 
    cdkDropList 
    [cdkDropListData]="onHold"
    class="example-list"
    (cdkDropListDropped)="drop($event)" >
    <div class="example-box" *ngFor="let item of onHold"  cdkDrag  (click) = "buttonText(item)">{{item}}</div>
    <!-- <mat-card-actions class="btn-container">
      <button mat-button class="tag_1">Tag 1</button>
      <button mat-button class="tag_2">Tag 2</button>
    </mat-card-actions> -->
  </div>
</div>

<div class="example-container">
<h2 class="card-heading">InProgress</h2>

<div
  cdkDropList
  [cdkDropListData]="inProgress"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let item of inProgress" cdkDrag (click) = "buttonText(item)">{{item}}</div>
  <!-- <mat-card-actions class="btn-container">
    <button mat-button class="tag_1">Tag 1</button>
    <button mat-button class="tag_2">Tag 2</button>
  </mat-card-actions> -->
</div>
</div>
<div class="example-container">
<h2 class="card-heading">Manager Discussion</h2>

<div
  cdkDropList
  [cdkDropListData]="managerDiscussion"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let item of managerDiscussion" cdkDrag (click) = "buttonText(item)">{{item}}</div>
  <!-- <mat-card-actions class="btn-container">
    <button mat-button class="tag_1">Tag 1</button>
    <button mat-button class="tag_2">Tag 2</button>
  </mat-card-actions> -->
</div>
</div>

<div class="example-container">
<h2 class="card-heading">Selected</h2>

<div
  cdkDropList
  [cdkDropListData]="selected"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let item of selected" cdkDrag (click) = "buttonText(item)">{{item}}</div>
  <!-- <mat-card-actions class="btn-container">
    <button mat-button class="tag_1">Tag 1</button>
    <button mat-button class="tag_2">Tag 2</button>
  </mat-card-actions> -->
</div>
</div>
<div class="example-container">
<h2 class="card-heading">Rejected</h2>

<div
  cdkDropList
  [cdkDropListData]="rejected"
  class="example-list"
  (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let item of rejected" cdkDrag (click) = "buttonText(item)">{{item}}</div>
  <!-- <mat-card-actions class="btn-container">
    <button mat-button class="tag_1">Tag 1</button>
    <button mat-button class="tag_2">Tag 2</button>
  </mat-card-actions> -->
</div>
</div>


<div class="example-container-comments">
  <h2 class="card-heading-comments">Comments</h2>
  <div
    cdkDropList
    [cdkDropListData]="Comments"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of Comments" cdkDrag >{{item}}
    </div>

    <!-- <input type="text" [(ngModel)]="commentText" >  -->
  <!-- <div> -->
    <!-- <button (click)="commentButton($event)" >Add a Comment</button> -->
  <!-- </div> -->
  
</div>
<span><button (click)="commentButton($event)" >Add a Comment</button></span>
</div>

<div class="model" [ngStyle]="{'display': toggle ? 'flex' : 'none'}" (click)="closeoverLay()">
  <div class="overlay">
    <div class="heading-container">
      <h3>WGS{{popupState.dasId}}</h3>
      <div>
        <span>Due Date:01 Oct 2022</span>
      </div>
    </div>
    <div>
      <h2>{{popupState.candidateName}}</h2>
    </div>
    <div class='bottom-container'>
    <div>Location - <span>{{popupState.location}}</span></div>
    <div>Expected LWD - <span>{{popupState.expectedLWD}}</span></div>
    <div>
      <div class="tech-box">{{popupState.technology}}</div>
    </div>
  </div>
  </div>
</div>




<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->