<!-- 
  <div>
   <img src="./assets/loginpagebg.jpg">
  </div> -->
<div class="rectanglewithinbackground">
   <div class="form-container">
      <div>
         <h1 class="text-center heading">LOGIN</h1>
         <div class="">      
            <label class="username my-2 ">Username : </label>  
            <input type="text"  placeholder="Enter Username"class="rectangleno1" >
         </div>
         <div class="mb-2">
            <label class="password my-2">Password : </label>  
            <input type="password" placeholder="Enter Password"  class="rectangleno2" > 
         </div>
         <div class="d-flex btn-container">
            <button class="login" (click)="onRegisterClick()">Login</button> <br>
            <button type="button" class="cancel"> Cancel</button>
         </div>
      </div>
   </div>
</div>
